*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/design
/model.md
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
**/build/
*.apk
*.ap_
*.aab
*.dex
*.class
app/google-services.json
